body{
    background-color: greenyellow;
}

.container-fluid {
    font-family: Arial;
    font-size: 16px;
    margin: auto;
    background-color: blueviolet;
}

.text-center{
    text-align: center;
}
.row{
    background-color: burlywood;
    margin-top: 20px;
}

#data{
    background-color: cadetblue;  
}

.history{
    font-size: 40px;
    font-weight: bold;
}