body{
    background-color: greenyellow;
}
.container-fluid {
    font-family: Arial;
    font-size: 16px;
    margin: auto;
    background-color: rgb(89, 177, 129);
}
.text-center{
    text-align: center;
}
.row{
    background-color: burlywood;
    margin-top: 20px;
    margin: auto;
}
#data{
    background-color: cadetblue;  
}
.history{
    font-size: 40px;
    font-weight: bold;
}
.form-control{
    margin-top: 20px;
}
#submit{
    margin-top: 20px;
}

#data{
		/* height: 130px;
		width: 250px;
		padding: 10px; */
		background-color: #30da0c;
		z-index: 1;
		font-size: 13px;
		font-family: arial, sans-serif;

		/* position: absolute;
		top: 130px;
		left: 25px; */

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;

		box-shadow: 0 0 20px #003300 inset;
		-webkit-box-shadow: 0 0 20px #003300 inset;
		-moz-box-shadow: 0 0 20px #003300 inset;
		-o-box-shadow: 0 0 20px #003300 inset;
	}


	.captuerd-container {
		/* border: 1px solid; */
		position: relative;
		display: inline;
	}

	.close-pokemon {
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
	}

	.captured-pokemon {
		border: 1px solid grey;
		position: relative;		
	}
